{
  "version": "7",
  "about": "This is a Prepros (https://prepros.io) configuration file. You can commit this file to a git repo to backup and sync project configurations.",
  "config": {
    "proxy": {
      "enable": false,
      "target": "",
      "useLocalAssets": false
    },
    "reload": {
      "enable": true,
      "delay": 0,
      "animate": true,
      "afterUpload": false
    },
    "sync": {
      "enable": true,
      "mouse": true,
      "keyboard": true,
      "form": true,
      "scroll": true
    },
    "watcher": {
      "enable": true,
      "maxFiles": 2000,
      "usePolling": false,
      "pollingInterval": 500,
      "extensions": [
        ".html",
        ".htm",
        ".php"
      ],
      "ignore": {
        "patterns": [
          ".*",
          "wp-admin",
          "wp-includes",
          "node_modules",
          "Prepros Export",
          "bower_components"
        ],
        "exceptions": []
      }
    },
    "exporter": {
      "ignore": {
        "patterns": [
          "desktop.ini",
          "prepros.cfg",
          "node_modules",
          "Prepros Export",
          "prepros.config",
          "prepros-6.config",
          "*-original.jpg",
          "*-original.jpeg",
          "*-original.png",
          "*-original.svg",
          "*.scss",
          "*.sass",
          "*.less",
          "*.pug",
          "*.jade",
          "*.styl",
          "*.haml",
          "*.slim",
          "*.coffee",
          "*.kit",
          "*.turf",
          "*.ts",
          "*.db",
          "_app",
          "/.git",
          "*.md",
          ".*"
        ],
        "exceptions": [
          ".htaccess"
        ]
      }
    },
    "uploader": {
      "remotePath": "/www/sochi2.mycapitalland.ru",
      "timeout": 40000,
      "autoUpload": false,
      "reuseConnection": true,
      "connectionType": "ftp",
      "history": [
        {
          "file": ".htaccess",
          "mtimeMs": 1623145896527.4072,
          "date": "2021-06-21T13:09:57.964Z"
        },
        {
          "file": "favicon.ico",
          "mtimeMs": 1585921556499.0002,
          "date": "2021-06-21T13:09:58.645Z"
        },
        {
          "file": "favicon.png",
          "mtimeMs": 1585921575154.585,
          "date": "2021-06-21T13:09:59.182Z"
        },
        {
          "file": "favicon.svg",
          "mtimeMs": 1617689353535.0193,
          "date": "2021-06-21T13:09:59.587Z"
        },
        {
          "file": "index.html",
          "mtimeMs": 1624295445525.9092,
          "date": "2021-06-21T17:10:53.358Z"
        },
        {
          "file": "css/styles.min.css",
          "mtimeMs": 1624277322011.251,
          "date": "2021-06-21T13:10:00.532Z"
        },
        {
          "file": "fonts/Geometria.eot",
          "mtimeMs": 1606795376000,
          "date": "2021-06-21T13:10:01.251Z"
        },
        {
          "file": "fonts/Geometria.svg",
          "mtimeMs": 1606795376000,
          "date": "2021-06-21T13:10:02.045Z"
        },
        {
          "file": "fonts/Geometria.ttf",
          "mtimeMs": 1606795376000,
          "date": "2021-06-21T13:10:02.930Z"
        },
        {
          "file": "fonts/Geometria.woff",
          "mtimeMs": 1606795376000,
          "date": "2021-06-21T13:10:03.466Z"
        },
        {
          "file": "fonts/Geometria.woff2",
          "mtimeMs": 1606795378000,
          "date": "2021-06-21T13:10:03.984Z"
        },
        {
          "file": "fonts/GeometriaBold.eot",
          "mtimeMs": 1606795400000,
          "date": "2021-06-21T13:10:04.553Z"
        },
        {
          "file": "fonts/GeometriaBold.svg",
          "mtimeMs": 1606795400000,
          "date": "2021-06-21T13:10:05.521Z"
        },
        {
          "file": "fonts/GeometriaBold.ttf",
          "mtimeMs": 1606795400000,
          "date": "2021-06-21T13:10:06.148Z"
        },
        {
          "file": "fonts/GeometriaBold.woff",
          "mtimeMs": 1606795400000,
          "date": "2021-06-21T13:10:06.686Z"
        },
        {
          "file": "fonts/GeometriaBold.woff2",
          "mtimeMs": 1606795400000,
          "date": "2021-06-21T13:10:07.228Z"
        },
        {
          "file": "fonts/GeometriaHeavy.eot",
          "mtimeMs": 1606795412000,
          "date": "2021-06-21T13:10:07.793Z"
        },
        {
          "file": "fonts/GeometriaHeavy.svg",
          "mtimeMs": 1606795412000,
          "date": "2021-06-21T13:10:08.431Z"
        },
        {
          "file": "fonts/GeometriaHeavy.ttf",
          "mtimeMs": 1606795410000,
          "date": "2021-06-21T13:10:08.996Z"
        },
        {
          "file": "fonts/GeometriaHeavy.woff",
          "mtimeMs": 1606795412000,
          "date": "2021-06-21T13:10:09.582Z"
        },
        {
          "file": "fonts/GeometriaHeavy.woff2",
          "mtimeMs": 1606795412000,
          "date": "2021-06-21T13:10:10.130Z"
        },
        {
          "file": "fonts/Muller.eot",
          "mtimeMs": 1602570977772.319,
          "date": "2021-06-21T13:10:10.699Z"
        },
        {
          "file": "fonts/Muller.svg",
          "mtimeMs": 1602570977512.461,
          "date": "2021-06-21T13:10:11.463Z"
        },
        {
          "file": "fonts/Muller.ttf",
          "mtimeMs": 1602570980912.4077,
          "date": "2021-06-21T13:10:12.018Z"
        },
        {
          "file": "fonts/Muller.woff",
          "mtimeMs": 1602570982188.5974,
          "date": "2021-06-21T13:10:12.540Z"
        },
        {
          "file": "fonts/Muller.woff2",
          "mtimeMs": 1602570980510.9023,
          "date": "2021-06-21T13:10:13.061Z"
        },
        {
          "file": "fonts/MullerLight.eot",
          "mtimeMs": 1624231656000,
          "date": "2021-06-21T13:10:13.623Z"
        },
        {
          "file": "fonts/MullerLight.svg",
          "mtimeMs": 1624231656000,
          "date": "2021-06-21T13:10:14.245Z"
        },
        {
          "file": "fonts/MullerLight.ttf",
          "mtimeMs": 1624231656000,
          "date": "2021-06-21T13:10:14.750Z"
        },
        {
          "file": "fonts/MullerLight.woff",
          "mtimeMs": 1624231656000,
          "date": "2021-06-21T13:10:15.244Z"
        },
        {
          "file": "fonts/MullerLight.woff2",
          "mtimeMs": 1624231656000,
          "date": "2021-06-21T13:10:15.782Z"
        },
        {
          "file": "img/backs/about.png",
          "mtimeMs": 1624263271210.817,
          "date": "2021-06-21T13:10:16.538Z"
        },
        {
          "file": "img/backs/final.png",
          "mtimeMs": 1624259409445.34,
          "date": "2021-06-21T13:10:17.256Z"
        },
        {
          "file": "img/backs/main.png",
          "mtimeMs": 1624263282289.0564,
          "date": "2021-06-21T13:10:18.036Z"
        },
        {
          "file": "img/backs/strategy.png",
          "mtimeMs": 1624263290125.5981,
          "date": "2021-06-21T13:10:18.745Z"
        },
        {
          "file": "img/icons/phone.png",
          "mtimeMs": 1620234254920.9028,
          "date": "2021-06-21T13:10:19.245Z"
        },
        {
          "file": "img/icons/telegram.png",
          "mtimeMs": 1624259446609.3972,
          "date": "2021-06-21T13:10:19.697Z"
        },
        {
          "file": "img/icons/tg-main.png",
          "mtimeMs": 1624252180625.6565,
          "date": "2021-06-21T13:10:20.274Z"
        },
        {
          "file": "img/icons/tg-strategy.png",
          "mtimeMs": 1624259456436.947,
          "date": "2021-06-21T13:10:20.731Z"
        },
        {
          "file": "img/images/about-1.png",
          "mtimeMs": 1624259614318.8704,
          "date": "2021-06-21T13:10:21.274Z"
        },
        {
          "file": "img/images/about-2.png",
          "mtimeMs": 1624259609166.904,
          "date": "2021-06-21T13:10:21.802Z"
        },
        {
          "file": "img/images/about-3.png",
          "mtimeMs": 1624259602769.2024,
          "date": "2021-06-21T13:10:22.275Z"
        },
        {
          "file": "img/images/divider.png",
          "mtimeMs": 1624259579845.7773,
          "date": "2021-06-21T13:10:22.752Z"
        },
        {
          "file": "img/images/laptop.png",
          "mtimeMs": 1624259573714.1384,
          "date": "2021-06-21T13:10:23.249Z"
        },
        {
          "file": "img/images/logo-black.png",
          "mtimeMs": 1624259567502.977,
          "date": "2021-06-21T13:10:23.711Z"
        },
        {
          "file": "img/images/money-1.png",
          "mtimeMs": 1624259561382.6394,
          "date": "2021-06-21T13:10:24.219Z"
        },
        {
          "file": "img/images/money-3.png",
          "mtimeMs": 1624259555006.5327,
          "date": "2021-06-21T13:10:24.718Z"
        },
        {
          "file": "img/images/strategy-1.png",
          "mtimeMs": 1624259536481.127,
          "date": "2021-06-21T13:10:25.203Z"
        },
        {
          "file": "img/images/strategy-2.png",
          "mtimeMs": 1624259528923.5496,
          "date": "2021-06-21T13:10:25.779Z"
        },
        {
          "file": "img/images/strategy-3.png",
          "mtimeMs": 1624259522306.3655,
          "date": "2021-06-21T13:10:26.322Z"
        },
        {
          "file": "img/images/strategy-4.png",
          "mtimeMs": 1624259515729.113,
          "date": "2021-06-21T13:10:26.868Z"
        },
        {
          "file": "img/images/strategy-5.png",
          "mtimeMs": 1624259507492.4102,
          "date": "2021-06-21T13:10:27.358Z"
        },
        {
          "file": "img/images/strategy.png",
          "mtimeMs": 1624259545594.4841,
          "date": "2021-06-21T13:10:28.333Z"
        },
        {
          "file": "js/scripts.js",
          "mtimeMs": 1624270598177.6514,
          "date": "2021-06-21T13:10:29.069Z"
        }
      ]
    },
    "packages": {
      "createPackageLock": true
    },
    "images": {
      "preserveOriginal": false
    },
    "tasks": {
      "autoprefixer": {
        "cascade": true,
        "add": true,
        "remove": true,
        "supports": true,
        "flexbox": true,
        "grid": "autoplace",
        "browsers": [
          "last 100 versions"
        ],
        "sourceMap": false
      },
      "babel": {
        "sourceMap": false,
        "presets": {
          "@babel/preset-env": {
            "enable": true,
            "options": {
              "targets": [
                "last 2 versions"
              ],
              "preserveImports": false,
              "polyfills": false
            }
          },
          "@babel/preset-react": true,
          "@babel/preset-flow": false
        },
        "plugins": {
          "@babel/plugin-proposal-class-static-block": false,
          "@babel/plugin-proposal-class-properties": false,
          "@babel/plugin-proposal-decorators": {
            "enable": false,
            "options": {
              "decoratorsBeforeExport": true
            }
          },
          "@babel/plugin-proposal-export-namespace-from": false,
          "@babel/plugin-proposal-function-sent": false,
          "@babel/plugin-proposal-logical-assignment-operators": false,
          "@babel/plugin-proposal-nullish-coalescing-operator": false,
          "@babel/plugin-proposal-numeric-separator": false,
          "@babel/plugin-proposal-optional-chaining": false,
          "@babel/plugin-proposal-private-methods": false,
          "@babel/plugin-proposal-throw-expressions": false
        },
        "customPresets": [],
        "customPlugins": []
      },
      "bundle-js": {
        "sourceMap": false,
        "exclude": [
          "node_modules",
          "bower_components"
        ],
        "devMode": true,
        "globals": [],
        "externals": [],
        "babel": {
          "enable": true,
          "options": {
            "sourceMap": false,
            "presets": {
              "@babel/preset-env": {
                "enable": true,
                "options": {
                  "targets": [
                    "last 2 versions"
                  ],
                  "preserveImports": false,
                  "polyfills": false
                }
              },
              "@babel/preset-react": true,
              "@babel/preset-flow": false
            },
            "plugins": {
              "@babel/plugin-proposal-class-static-block": false,
              "@babel/plugin-proposal-class-properties": false,
              "@babel/plugin-proposal-decorators": {
                "enable": false,
                "options": {
                  "decoratorsBeforeExport": true
                }
              },
              "@babel/plugin-proposal-export-namespace-from": false,
              "@babel/plugin-proposal-function-sent": false,
              "@babel/plugin-proposal-logical-assignment-operators": false,
              "@babel/plugin-proposal-nullish-coalescing-operator": false,
              "@babel/plugin-proposal-numeric-separator": false,
              "@babel/plugin-proposal-optional-chaining": false,
              "@babel/plugin-proposal-private-methods": false,
              "@babel/plugin-proposal-throw-expressions": false
            },
            "customPresets": [],
            "customPlugins": []
          }
        },
        "css": {
          "enable": true
        },
        "fonts": {
          "enable": true
        }
      },
      "coffeescript": {
        "header": false,
        "bare": false,
        "sourceMap": false
      },
      "command": {
        "command": "",
        "rootDir": ""
      },
      "concat-js": {
        "sourceMap": false,
        "rootDir": ""
      },
      "copy": {
        "sourceMap": false
      },
      "dart-sass": {
        "indentType": "space",
        "allowWildcardImports": false,
        "indentWidth": 2,
        "linefeed": "lf",
        "sourceMap": false
      },
      "haml": {
        "doubleQuoteAttributes": true
      },
      "jpg": {
        "quality": 90
      },
      "less": {
        "javascriptEnabled": false,
        "strictImports": false,
        "insecure": false,
        "math": "always",
        "strictUnits": false,
        "dumpLineNumbers": false,
        "sourceMap": false
      },
      "markdown": {
        "githubFlavored": true,
        "wrapWithHtml": false
      },
      "minify-css": {
        "sourceMap": false
      },
      "minify-html": {
        "caseSensitive": false,
        "collapseBooleanAttributes": true,
        "collapseInlineTagWhitespace": false,
        "collapseWhitespace": true,
        "conservativeCollapse": false,
        "decodeEntities": false,
        "html5": true,
        "includeAutoGeneratedTags": true,
        "keepClosingSlash": false,
        "minifyCSS": true,
        "minifyJS": true,
        "preserveLineBreaks": false,
        "preventAttributesEscaping": false,
        "processConditionalComments": false,
        "removeAttributeQuotes": false,
        "removeComments": true,
        "removeEmptyAttributes": false,
        "removeEmptyElement": false,
        "removeOptionalTags": false,
        "removeRedundantAttributes": false,
        "removeScriptTypeAttributes": false,
        "removeStyleLinkTypeAttributes": false,
        "removeTagWhitespace": false,
        "sortAttributes": false,
        "sortClassName": false,
        "useShortDoctype": true
      },
      "minify-js": {
        "parse": {
          "bare_returns": false
        },
        "compress": {
          "arrows": true,
          "arguments": false,
          "booleans": true,
          "booleans_as_integers": false,
          "collapse_vars": true,
          "comparisons": true,
          "computed_props": true,
          "conditionals": true,
          "dead_code": true,
          "directives": true,
          "drop_console": false,
          "drop_debugger": true,
          "evaluate": true,
          "expression": false,
          "global_defs": [],
          "hoist_funs": false,
          "hoist_props": true,
          "hoist_vars": false,
          "if_return": true,
          "inline": 3,
          "join_vars": true,
          "keep_fargs": true,
          "keep_infinity": false,
          "loops": true,
          "negate_iife": true,
          "properties": true,
          "pure_funcs": [],
          "pure_getters": false,
          "reduce_funcs": true,
          "reduce_vars": true,
          "sequences": true,
          "side_effects": true,
          "switches": true,
          "top_retain": [],
          "typeofs": true,
          "unsafe": false,
          "unsafe_arrows": false,
          "unsafe_comps": false,
          "unsafe_Function": false,
          "unsafe_math": false,
          "unsafe_proto": false,
          "unsafe_regexp": false,
          "unsafe_undefined": false,
          "unused": true
        },
        "mangle": {
          "eval": false,
          "reserved": []
        },
        "output": {
          "ascii_only": false,
          "braces": false,
          "comments": "none",
          "inline_script": true,
          "keep_numbers": false,
          "keep_quoted_props": false,
          "preamble": null,
          "quote_keys": false,
          "quote_style": 0,
          "semicolons": true,
          "shebang": true,
          "webkit": false,
          "wrap_iife": false,
          "wrap_func_args": true
        },
        "sourceMap": false,
        "toplevel": false,
        "ie8": false,
        "keep_classnames": false,
        "keep_fnames": false,
        "safari10": false
      },
      "node-sass": {
        "indentType": "space",
        "allowWildcardImports": false,
        "indentWidth": 2,
        "linefeed": "lf",
        "outputStyle": "expanded",
        "precision": 10,
        "sourceMap": false,
        "sourceComments": false
      },
      "png": {
        "quality": 90
      },
      "postcss-import": {
        "ignoreKeywords": [],
        "sourceMap": false
      },
      "postcss-preset-env": {
        "stage": 2,
        "browsers": [
          "last 100 versions"
        ],
        "sourceMap": false
      },
      "pug": {
        "pretty": true
      },
      "slim": {
        "indent": "space",
        "indentSize": 2,
        "pretty": true
      },
      "stylus": {
        "useNib": true,
        "sourceMap": false,
        "linenos": false
      },
      "svg": {
        "cleanupAttrs": true,
        "removeDoctype": true,
        "removeXMLProcInst": true,
        "removeComments": true,
        "removeMetadata": true,
        "removeTitle": true,
        "removeDesc": true,
        "removeUselessDefs": true,
        "removeEditorsNSData": true,
        "removeEmptyAttrs": true,
        "removeHiddenElems": true,
        "removeEmptyText": true,
        "removeEmptyContainers": true,
        "removeViewBox": false,
        "cleanupEnableBackground": true,
        "convertStyleToAttrs": true,
        "convertColors": true,
        "convertPathData": true,
        "convertTransform": true,
        "removeUnknownsAndDefaults": true,
        "removeNonInheritableGroupAttrs": true,
        "removeUselessStrokeAndFill": true,
        "removeUnusedNS": true,
        "cleanupIDs": true,
        "cleanupNumericValues": true,
        "moveElemsAttrsToGroup": true,
        "moveGroupAttrsToElems": true,
        "collapseGroups": true,
        "removeRasterImages": false,
        "mergePaths": true,
        "convertShapeToPath": true,
        "sortAttrs": true,
        "removeDimensions": true
      },
      "turf": {
        "rootDir": ""
      },
      "typescript": {
        "allowJs": false,
        "allowSyntheticDefaultImports": true,
        "allowUmdGlobalAccess": false,
        "allowUnreachableCode": false,
        "allowUnusedLabels": false,
        "alwaysStrict": false,
        "charset": "utf8",
        "checkJs": false,
        "declaration": false,
        "disableSizeLimit": false,
        "downlevelIteration": false,
        "emitBOM": false,
        "emitDecoratorMetadata": false,
        "experimentalDecorators": false,
        "forceConsistentCasingInFileNames": false,
        "importHelpers": false,
        "jsx": "React",
        "keyofStringsOnly": false,
        "lib": [],
        "maxNodeModuleJsDepth": 0,
        "module": "ES2015",
        "moduleResolution": "NodeJs",
        "newLine": "LineFeed",
        "noFallthroughCasesInSwitch": false,
        "noImplicitAny": false,
        "noImplicitReturns": false,
        "noImplicitThis": false,
        "noStrictGenericChecks": false,
        "noUnusedLocals": false,
        "noUnusedParameters": false,
        "noImplicitUseStrict": false,
        "noLib": false,
        "noResolve": false,
        "preserveConstEnums": false,
        "jsxFactory": "React.createElement",
        "removeComments": false,
        "skipLibCheck": false,
        "sourceMap": false,
        "strict": false,
        "strictFunctionTypes": false,
        "strictBindCallApply": false,
        "strictNullChecks": false,
        "strictPropertyInitialization": false,
        "suppressExcessPropertyErrors": false,
        "suppressImplicitAnyIndexErrors": false,
        "target": "ES3",
        "resolveJsonModule": false,
        "esModuleInterop": false,
        "useDefineForClassFields": false
      }
    },
    "fileTypes": {
      "sass": {
        "extensions": [
          ".scss",
          ".sass"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "dart-sass",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "scss",
              "replaceWith": "css"
            },
            {
              "segment": "sass",
              "replaceWith": "css"
            }
          ]
        }
      },
      "less": {
        "extensions": [
          ".less"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "less",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "less",
              "replaceWith": "css"
            }
          ]
        }
      },
      "pug": {
        "extensions": [
          ".pug",
          ".jade"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "pug",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "pug",
              "replaceWith": "html"
            }
          ]
        }
      },
      "css": {
        "extensions": [
          ".css"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "postcss-import",
            "enable": false
          },
          {
            "task": "postcss-preset-env",
            "enable": false
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": true
          }
        ],
        "output": {
          "extension": ".css",
          "type": "SOURCE_RELATIVE",
          "relativePath": "../",
          "suffix": ".min",
          "alwaysSuffix": false
        }
      },
      "javascript": {
        "extensions": [
          ".js",
          ".jsx"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "concat-js",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": true
          }
        ],
        "output": {
          "extension": ".js",
          "type": "SOURCE_RELATIVE",
          "relativePath": "../js",
          "suffix": ".min",
          "alwaysSuffix": false
        }
      },
      "stylus": {
        "extensions": [
          ".styl"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "stylus",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": true
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "stylus",
              "replaceWith": "css"
            },
            {
              "segment": "styl",
              "replaceWith": "css"
            }
          ]
        }
      },
      "markdown": {
        "extensions": [
          ".md",
          ".markdown",
          ".mkd"
        ],
        "autoCompile": false,
        "tasks": [
          {
            "task": "markdown",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "markdown",
              "replaceWith": "html"
            }
          ]
        }
      },
      "haml": {
        "extensions": [
          ".haml"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "haml",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "haml",
              "replaceWith": "html"
            }
          ]
        }
      },
      "slim": {
        "extensions": [
          ".slim"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "slim",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "slim",
              "replaceWith": "html"
            }
          ]
        }
      },
      "coffeescript": {
        "extensions": [
          ".coffee"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "coffeescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "coffee-script",
              "replaceWith": "js"
            },
            {
              "segment": "coffeescript",
              "replaceWith": "js"
            },
            {
              "segment": "coffee",
              "replaceWith": "js"
            }
          ]
        }
      },
      "turf": {
        "extensions": [
          ".turf",
          ".kit"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "turf",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "turf",
              "replaceWith": "html"
            }
          ]
        }
      },
      "typescript": {
        "extensions": [
          ".ts",
          ".tsx"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "typescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "typescript",
              "replaceWith": "js"
            },
            {
              "segment": "ts",
              "replaceWith": "js"
            }
          ]
        }
      },
      "jpg": {
        "extensions": [
          ".jpg",
          ".jpeg"
        ],
        "tasks": [
          {
            "task": "jpg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".jpg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "png": {
        "extensions": [
          ".png"
        ],
        "tasks": [
          {
            "task": "png",
            "enable": true
          }
        ],
        "output": {
          "extension": ".png",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "svg": {
        "extensions": [
          ".svg"
        ],
        "tasks": [
          {
            "task": "svg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".svg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      }
    },
    "files": [
      {
        "file": "_app/_js/scripts.js",
        "config": {
          "tasks": {
            "minify-js": {
              "enable": false
            }
          },
          "autoCompile": true,
          "customOutput": "js\\scripts.js"
        }
      },
      {
        "file": "_app/index.pug",
        "config": {
          "customOutput": "index.html"
        }
      },
      {
        "file": "_app/styl/styles.min.styl",
        "config": {
          "customOutput": "css\\styles.min.css"
        }
      }
    ]
  }
}
