{
  "version": "7",
  "about": "This is a Prepros (https://prepros.io) configuration file. You can commit this file to a git repo to backup and sync project configurations.",
  "config": {
    "proxy": {
      "enable": false,
      "target": "",
      "useLocalAssets": false
    },
    "reload": {
      "enable": true,
      "delay": 0,
      "animate": true,
      "afterUpload": false
    },
    "sync": {
      "enable": true,
      "mouse": true,
      "keyboard": true,
      "form": true,
      "scroll": true
    },
    "watcher": {
      "enable": true,
      "maxFiles": 2000,
      "usePolling": false,
      "pollingInterval": 500,
      "extensions": [
        ".html",
        ".htm",
        ".php"
      ],
      "ignore": {
        "patterns": [
          ".*",
          "wp-admin",
          "wp-includes",
          "node_modules",
          "Prepros Export",
          "bower_components"
        ],
        "exceptions": []
      }
    },
    "exporter": {
      "ignore": {
        "patterns": [
          "desktop.ini",
          "prepros.cfg",
          "node_modules",
          "Prepros Export",
          "prepros.config",
          "prepros-6.config",
          "*-original.jpg",
          "*-original.jpeg",
          "*-original.png",
          "*-original.svg",
          "*.scss",
          "*.sass",
          "*.less",
          "*.pug",
          "*.jade",
          "*.styl",
          "*.haml",
          "*.slim",
          "*.coffee",
          "*.kit",
          "*.turf",
          "*.ts",
          "*.db",
          "_app",
          "/.git",
          "*.md",
          ".*"
        ],
        "exceptions": [
          ".htaccess"
        ]
      }
    },
    "uploader": {
      "remotePath": "/www/sochi2.mycapitalland.ru",
      "timeout": 40000,
      "autoUpload": false,
      "reuseConnection": true,
      "connectionType": "ftp",
      "history": [
        {
          "file": ".htaccess",
          "mtimeMs": 1623145896527.4072,
          "date": "2021-06-22T12:40:53.453Z"
        },
        {
          "file": "favicon.ico",
          "mtimeMs": 1585921556499.0002,
          "date": "2021-06-22T12:40:54.030Z"
        },
        {
          "file": "favicon.png",
          "mtimeMs": 1585921575154.585,
          "date": "2021-06-22T12:40:54.536Z"
        },
        {
          "file": "favicon.svg",
          "mtimeMs": 1617689353535.0193,
          "date": "2021-06-22T12:40:54.934Z"
        },
        {
          "file": "index.html",
          "mtimeMs": 1624429235490.0793,
          "date": "2021-06-23T06:21:39.509Z"
        },
        {
          "file": "css/styles.min.css",
          "mtimeMs": 1624429260823.8396,
          "date": "2021-06-23T06:21:40.054Z"
        },
        {
          "file": "fonts/Geometria.eot",
          "mtimeMs": 1606795376000,
          "date": "2021-06-22T12:40:57.229Z"
        },
        {
          "file": "fonts/Geometria.svg",
          "mtimeMs": 1606795376000,
          "date": "2021-06-22T12:40:58.062Z"
        },
        {
          "file": "fonts/Geometria.ttf",
          "mtimeMs": 1606795376000,
          "date": "2021-06-22T12:40:59.106Z"
        },
        {
          "file": "fonts/Geometria.woff",
          "mtimeMs": 1606795376000,
          "date": "2021-06-22T12:40:59.975Z"
        },
        {
          "file": "fonts/Geometria.woff2",
          "mtimeMs": 1606795378000,
          "date": "2021-06-22T12:41:00.504Z"
        },
        {
          "file": "fonts/GeometriaBold.eot",
          "mtimeMs": 1606795400000,
          "date": "2021-06-22T12:41:01.518Z"
        },
        {
          "file": "fonts/GeometriaBold.svg",
          "mtimeMs": 1606795400000,
          "date": "2021-06-22T12:41:02.266Z"
        },
        {
          "file": "fonts/GeometriaBold.ttf",
          "mtimeMs": 1606795400000,
          "date": "2021-06-22T12:41:02.957Z"
        },
        {
          "file": "fonts/GeometriaBold.woff",
          "mtimeMs": 1606795400000,
          "date": "2021-06-22T12:41:03.532Z"
        },
        {
          "file": "fonts/GeometriaBold.woff2",
          "mtimeMs": 1606795400000,
          "date": "2021-06-22T12:41:04.084Z"
        },
        {
          "file": "fonts/GeometriaHeavy.eot",
          "mtimeMs": 1606795412000,
          "date": "2021-06-22T12:41:04.776Z"
        },
        {
          "file": "fonts/GeometriaHeavy.svg",
          "mtimeMs": 1606795412000,
          "date": "2021-06-22T12:41:05.630Z"
        },
        {
          "file": "fonts/GeometriaHeavy.ttf",
          "mtimeMs": 1606795410000,
          "date": "2021-06-22T12:41:06.386Z"
        },
        {
          "file": "fonts/GeometriaHeavy.woff",
          "mtimeMs": 1606795412000,
          "date": "2021-06-22T12:41:06.938Z"
        },
        {
          "file": "fonts/GeometriaHeavy.woff2",
          "mtimeMs": 1606795412000,
          "date": "2021-06-22T12:41:07.452Z"
        },
        {
          "file": "fonts/Muller.eot",
          "mtimeMs": 1602570977772.319,
          "date": "2021-06-22T12:41:11.383Z"
        },
        {
          "file": "fonts/Muller.svg",
          "mtimeMs": 1602570977512.461,
          "date": "2021-06-22T12:41:12.310Z"
        },
        {
          "file": "fonts/Muller.ttf",
          "mtimeMs": 1602570980912.4077,
          "date": "2021-06-22T12:41:12.902Z"
        },
        {
          "file": "fonts/Muller.woff",
          "mtimeMs": 1602570982188.5974,
          "date": "2021-06-22T12:41:13.443Z"
        },
        {
          "file": "fonts/Muller.woff2",
          "mtimeMs": 1602570980510.9023,
          "date": "2021-06-22T12:41:13.967Z"
        },
        {
          "file": "img/backs/main.png",
          "mtimeMs": 1624428834312.6555,
          "date": "2021-06-23T06:21:44.939Z"
        },
        {
          "file": "img/icons/phone.png",
          "mtimeMs": 1620234254920.9028,
          "date": "2021-06-22T12:41:27.134Z"
        },
        {
          "file": "img/icons/telegram.png",
          "mtimeMs": 1624259446609.3972,
          "date": "2021-06-22T12:41:28.231Z"
        },
        {
          "file": "img/images/laptop.png",
          "mtimeMs": 1624429065113.4292,
          "date": "2021-06-23T06:21:54.678Z"
        },
        {
          "file": "img/images/logo-black.png",
          "mtimeMs": 1624336407271.9128,
          "date": "2021-06-22T12:41:35.439Z"
        },
        {
          "file": "js/scripts.js",
          "mtimeMs": 1624270598177.6514,
          "date": "2021-06-22T12:41:46.261Z"
        },
        {
          "file": "fonts/GeometriaThin.eot",
          "mtimeMs": 1624334948000,
          "date": "2021-06-22T12:41:08.065Z"
        },
        {
          "file": "fonts/GeometriaThin.svg",
          "mtimeMs": 1624334948000,
          "date": "2021-06-22T12:41:08.815Z"
        },
        {
          "file": "fonts/GeometriaThin.ttf",
          "mtimeMs": 1624334948000,
          "date": "2021-06-22T12:41:09.599Z"
        },
        {
          "file": "fonts/GeometriaThin.woff",
          "mtimeMs": 1624334948000,
          "date": "2021-06-22T12:41:10.237Z"
        },
        {
          "file": "fonts/GeometriaThin.woff2",
          "mtimeMs": 1624334948000,
          "date": "2021-06-22T12:41:10.767Z"
        },
        {
          "file": "img/backs/footer.png",
          "mtimeMs": 1624428818770.233,
          "date": "2021-06-23T06:21:42.651Z"
        },
        {
          "file": "img/backs/project.png",
          "mtimeMs": 1624428856422.69,
          "date": "2021-06-23T06:21:47.612Z"
        },
        {
          "file": "img/backs/team.png",
          "mtimeMs": 1624428862362.518,
          "date": "2021-06-23T06:21:48.906Z"
        },
        {
          "file": "img/icons/hype-1.png",
          "mtimeMs": 1624428894282.9983,
          "date": "2021-06-23T06:21:49.377Z"
        },
        {
          "file": "img/icons/hype-2.png",
          "mtimeMs": 1624428899945.2976,
          "date": "2021-06-23T06:21:49.860Z"
        },
        {
          "file": "img/icons/hype-3.png",
          "mtimeMs": 1624428905037.952,
          "date": "2021-06-23T06:21:50.372Z"
        },
        {
          "file": "img/icons/soc-links.png",
          "mtimeMs": 1617818969345.9126,
          "date": "2021-06-22T12:41:27.677Z"
        },
        {
          "file": "img/images/clouds.png",
          "mtimeMs": 1624429088017.0103,
          "date": "2021-06-23T06:21:52.203Z"
        },
        {
          "file": "img/images/flowers.png",
          "mtimeMs": 1624429082771.9272,
          "date": "2021-06-23T06:21:52.667Z"
        },
        {
          "file": "img/images/glasses-big.png",
          "mtimeMs": 1624429072492.9026,
          "date": "2021-06-23T06:21:53.165Z"
        },
        {
          "file": "img/images/logo.png",
          "mtimeMs": 1624429059411.5225,
          "date": "2021-06-23T06:21:55.189Z"
        },
        {
          "file": "img/images/slippers.png",
          "mtimeMs": 1624429022289.931,
          "date": "2021-06-23T06:21:58.429Z"
        },
        {
          "file": "img/images/stars.png",
          "mtimeMs": 1624429015648.9531,
          "date": "2021-06-23T06:21:59.494Z"
        },
        {
          "file": "img/images/target.png",
          "mtimeMs": 1624429009381.2766,
          "date": "2021-06-23T06:21:59.957Z"
        },
        {
          "file": "img/images/title-2.png",
          "mtimeMs": 1624428995704.8164,
          "date": "2021-06-23T06:22:00.513Z"
        },
        {
          "file": "img/images/title.png",
          "mtimeMs": 1624429001319.857,
          "date": "2021-06-23T06:22:01.056Z"
        },
        {
          "file": "img/images/yuriy.png",
          "mtimeMs": 1624352151868.0908,
          "date": "2021-06-22T12:41:45.790Z"
        },
        {
          "file": "img/backs/about.png",
          "mtimeMs": 1624428813716.898,
          "date": "2021-06-23T06:21:40.819Z"
        },
        {
          "file": "img/backs/hype.png",
          "mtimeMs": 1624428823942.4448,
          "date": "2021-06-23T06:21:43.418Z"
        },
        {
          "file": "img/backs/invest.png",
          "mtimeMs": 1624428828719.9333,
          "date": "2021-06-23T06:21:44.161Z"
        },
        {
          "file": "img/backs/numbers.png",
          "mtimeMs": 1624428842868.3013,
          "date": "2021-06-23T06:21:46.138Z"
        },
        {
          "file": "img/backs/our-projects.png",
          "mtimeMs": 1624428848797.0708,
          "date": "2021-06-23T06:21:46.833Z"
        },
        {
          "file": "img/backs/team-clouds.png",
          "mtimeMs": 1624428868153.5046,
          "date": "2021-06-23T06:21:48.293Z"
        },
        {
          "file": "img/images/about.png",
          "mtimeMs": 1624429094752.8325,
          "date": "2021-06-23T06:21:50.967Z"
        },
        {
          "file": "img/images/glasses.png",
          "mtimeMs": 1624429077315.396,
          "date": "2021-06-23T06:21:53.635Z"
        },
        {
          "file": "img/images/member-1.png",
          "mtimeMs": 1624429049401.4387,
          "date": "2021-06-23T06:21:56.237Z"
        },
        {
          "file": "img/images/member-2.png",
          "mtimeMs": 1624429043167.8315,
          "date": "2021-06-23T06:21:56.789Z"
        },
        {
          "file": "img/images/member-3.png",
          "mtimeMs": 1624429035569.4382,
          "date": "2021-06-23T06:21:57.303Z"
        },
        {
          "file": "img/images/numbers.png",
          "mtimeMs": 1624429029223.5408,
          "date": "2021-06-23T06:21:57.910Z"
        }
      ]
    },
    "packages": {
      "createPackageLock": true
    },
    "images": {
      "preserveOriginal": false
    },
    "tasks": {
      "autoprefixer": {
        "cascade": true,
        "add": true,
        "remove": true,
        "supports": true,
        "flexbox": true,
        "grid": "autoplace",
        "browsers": [
          "last 100 versions"
        ],
        "sourceMap": false
      },
      "babel": {
        "sourceMap": false,
        "presets": {
          "@babel/preset-env": {
            "enable": true,
            "options": {
              "targets": [
                "last 2 versions"
              ],
              "preserveImports": false,
              "polyfills": false
            }
          },
          "@babel/preset-react": true,
          "@babel/preset-flow": false
        },
        "plugins": {
          "@babel/plugin-proposal-class-static-block": false,
          "@babel/plugin-proposal-class-properties": false,
          "@babel/plugin-proposal-decorators": {
            "enable": false,
            "options": {
              "decoratorsBeforeExport": true
            }
          },
          "@babel/plugin-proposal-export-namespace-from": false,
          "@babel/plugin-proposal-function-sent": false,
          "@babel/plugin-proposal-logical-assignment-operators": false,
          "@babel/plugin-proposal-nullish-coalescing-operator": false,
          "@babel/plugin-proposal-numeric-separator": false,
          "@babel/plugin-proposal-optional-chaining": false,
          "@babel/plugin-proposal-private-methods": false,
          "@babel/plugin-proposal-throw-expressions": false
        },
        "customPresets": [],
        "customPlugins": []
      },
      "bundle-js": {
        "sourceMap": false,
        "exclude": [
          "node_modules",
          "bower_components"
        ],
        "devMode": true,
        "globals": [],
        "externals": [],
        "babel": {
          "enable": true,
          "options": {
            "sourceMap": false,
            "presets": {
              "@babel/preset-env": {
                "enable": true,
                "options": {
                  "targets": [
                    "last 2 versions"
                  ],
                  "preserveImports": false,
                  "polyfills": false
                }
              },
              "@babel/preset-react": true,
              "@babel/preset-flow": false
            },
            "plugins": {
              "@babel/plugin-proposal-class-static-block": false,
              "@babel/plugin-proposal-class-properties": false,
              "@babel/plugin-proposal-decorators": {
                "enable": false,
                "options": {
                  "decoratorsBeforeExport": true
                }
              },
              "@babel/plugin-proposal-export-namespace-from": false,
              "@babel/plugin-proposal-function-sent": false,
              "@babel/plugin-proposal-logical-assignment-operators": false,
              "@babel/plugin-proposal-nullish-coalescing-operator": false,
              "@babel/plugin-proposal-numeric-separator": false,
              "@babel/plugin-proposal-optional-chaining": false,
              "@babel/plugin-proposal-private-methods": false,
              "@babel/plugin-proposal-throw-expressions": false
            },
            "customPresets": [],
            "customPlugins": []
          }
        },
        "css": {
          "enable": true
        },
        "fonts": {
          "enable": true
        }
      },
      "coffeescript": {
        "header": false,
        "bare": false,
        "sourceMap": false
      },
      "command": {
        "command": "",
        "rootDir": ""
      },
      "concat-js": {
        "sourceMap": false,
        "rootDir": ""
      },
      "copy": {
        "sourceMap": false
      },
      "dart-sass": {
        "indentType": "space",
        "allowWildcardImports": false,
        "indentWidth": 2,
        "linefeed": "lf",
        "sourceMap": false
      },
      "haml": {
        "doubleQuoteAttributes": true
      },
      "jpg": {
        "quality": 90
      },
      "less": {
        "javascriptEnabled": false,
        "strictImports": false,
        "insecure": false,
        "math": "always",
        "strictUnits": false,
        "dumpLineNumbers": false,
        "sourceMap": false
      },
      "markdown": {
        "githubFlavored": true,
        "wrapWithHtml": false
      },
      "minify-css": {
        "sourceMap": false
      },
      "minify-html": {
        "caseSensitive": false,
        "collapseBooleanAttributes": true,
        "collapseInlineTagWhitespace": false,
        "collapseWhitespace": true,
        "conservativeCollapse": false,
        "decodeEntities": false,
        "html5": true,
        "includeAutoGeneratedTags": true,
        "keepClosingSlash": false,
        "minifyCSS": true,
        "minifyJS": true,
        "preserveLineBreaks": false,
        "preventAttributesEscaping": false,
        "processConditionalComments": false,
        "removeAttributeQuotes": false,
        "removeComments": true,
        "removeEmptyAttributes": false,
        "removeEmptyElement": false,
        "removeOptionalTags": false,
        "removeRedundantAttributes": false,
        "removeScriptTypeAttributes": false,
        "removeStyleLinkTypeAttributes": false,
        "removeTagWhitespace": false,
        "sortAttributes": false,
        "sortClassName": false,
        "useShortDoctype": true
      },
      "minify-js": {
        "parse": {
          "bare_returns": false
        },
        "compress": {
          "arrows": true,
          "arguments": false,
          "booleans": true,
          "booleans_as_integers": false,
          "collapse_vars": true,
          "comparisons": true,
          "computed_props": true,
          "conditionals": true,
          "dead_code": true,
          "directives": true,
          "drop_console": false,
          "drop_debugger": true,
          "evaluate": true,
          "expression": false,
          "global_defs": [],
          "hoist_funs": false,
          "hoist_props": true,
          "hoist_vars": false,
          "if_return": true,
          "inline": 3,
          "join_vars": true,
          "keep_fargs": true,
          "keep_infinity": false,
          "loops": true,
          "negate_iife": true,
          "properties": true,
          "pure_funcs": [],
          "pure_getters": false,
          "reduce_funcs": true,
          "reduce_vars": true,
          "sequences": true,
          "side_effects": true,
          "switches": true,
          "top_retain": [],
          "typeofs": true,
          "unsafe": false,
          "unsafe_arrows": false,
          "unsafe_comps": false,
          "unsafe_Function": false,
          "unsafe_math": false,
          "unsafe_proto": false,
          "unsafe_regexp": false,
          "unsafe_undefined": false,
          "unused": true
        },
        "mangle": {
          "eval": false,
          "reserved": []
        },
        "output": {
          "ascii_only": false,
          "braces": false,
          "comments": "none",
          "inline_script": true,
          "keep_numbers": false,
          "keep_quoted_props": false,
          "preamble": null,
          "quote_keys": false,
          "quote_style": 0,
          "semicolons": true,
          "shebang": true,
          "webkit": false,
          "wrap_iife": false,
          "wrap_func_args": true
        },
        "sourceMap": false,
        "toplevel": false,
        "ie8": false,
        "keep_classnames": false,
        "keep_fnames": false,
        "safari10": false
      },
      "node-sass": {
        "indentType": "space",
        "allowWildcardImports": false,
        "indentWidth": 2,
        "linefeed": "lf",
        "outputStyle": "expanded",
        "precision": 10,
        "sourceMap": false,
        "sourceComments": false
      },
      "png": {
        "quality": 90
      },
      "postcss-import": {
        "ignoreKeywords": [],
        "sourceMap": false
      },
      "postcss-preset-env": {
        "stage": 2,
        "browsers": [
          "last 100 versions"
        ],
        "sourceMap": false
      },
      "pug": {
        "pretty": true
      },
      "slim": {
        "indent": "space",
        "indentSize": 2,
        "pretty": true
      },
      "stylus": {
        "useNib": true,
        "sourceMap": false,
        "linenos": false
      },
      "svg": {
        "cleanupAttrs": true,
        "removeDoctype": true,
        "removeXMLProcInst": true,
        "removeComments": true,
        "removeMetadata": true,
        "removeTitle": true,
        "removeDesc": true,
        "removeUselessDefs": true,
        "removeEditorsNSData": true,
        "removeEmptyAttrs": true,
        "removeHiddenElems": true,
        "removeEmptyText": true,
        "removeEmptyContainers": true,
        "removeViewBox": false,
        "cleanupEnableBackground": true,
        "convertStyleToAttrs": true,
        "convertColors": true,
        "convertPathData": true,
        "convertTransform": true,
        "removeUnknownsAndDefaults": true,
        "removeNonInheritableGroupAttrs": true,
        "removeUselessStrokeAndFill": true,
        "removeUnusedNS": true,
        "cleanupIDs": true,
        "cleanupNumericValues": true,
        "moveElemsAttrsToGroup": true,
        "moveGroupAttrsToElems": true,
        "collapseGroups": true,
        "removeRasterImages": false,
        "mergePaths": true,
        "convertShapeToPath": true,
        "sortAttrs": true,
        "removeDimensions": true
      },
      "turf": {
        "rootDir": ""
      },
      "typescript": {
        "allowJs": false,
        "allowSyntheticDefaultImports": true,
        "allowUmdGlobalAccess": false,
        "allowUnreachableCode": false,
        "allowUnusedLabels": false,
        "alwaysStrict": false,
        "charset": "utf8",
        "checkJs": false,
        "declaration": false,
        "disableSizeLimit": false,
        "downlevelIteration": false,
        "emitBOM": false,
        "emitDecoratorMetadata": false,
        "experimentalDecorators": false,
        "forceConsistentCasingInFileNames": false,
        "importHelpers": false,
        "jsx": "React",
        "keyofStringsOnly": false,
        "lib": [],
        "maxNodeModuleJsDepth": 0,
        "module": "ES2015",
        "moduleResolution": "NodeJs",
        "newLine": "LineFeed",
        "noFallthroughCasesInSwitch": false,
        "noImplicitAny": false,
        "noImplicitReturns": false,
        "noImplicitThis": false,
        "noStrictGenericChecks": false,
        "noUnusedLocals": false,
        "noUnusedParameters": false,
        "noImplicitUseStrict": false,
        "noLib": false,
        "noResolve": false,
        "preserveConstEnums": false,
        "jsxFactory": "React.createElement",
        "removeComments": false,
        "skipLibCheck": false,
        "sourceMap": false,
        "strict": false,
        "strictFunctionTypes": false,
        "strictBindCallApply": false,
        "strictNullChecks": false,
        "strictPropertyInitialization": false,
        "suppressExcessPropertyErrors": false,
        "suppressImplicitAnyIndexErrors": false,
        "target": "ES3",
        "resolveJsonModule": false,
        "esModuleInterop": false,
        "useDefineForClassFields": false
      }
    },
    "fileTypes": {
      "sass": {
        "extensions": [
          ".scss",
          ".sass"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "dart-sass",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "scss",
              "replaceWith": "css"
            },
            {
              "segment": "sass",
              "replaceWith": "css"
            }
          ]
        }
      },
      "less": {
        "extensions": [
          ".less"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "less",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "less",
              "replaceWith": "css"
            }
          ]
        }
      },
      "pug": {
        "extensions": [
          ".pug",
          ".jade"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "pug",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "pug",
              "replaceWith": "html"
            }
          ]
        }
      },
      "css": {
        "extensions": [
          ".css"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "postcss-import",
            "enable": false
          },
          {
            "task": "postcss-preset-env",
            "enable": false
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": true
          }
        ],
        "output": {
          "extension": ".css",
          "type": "SOURCE_RELATIVE",
          "relativePath": "../",
          "suffix": ".min",
          "alwaysSuffix": false
        }
      },
      "javascript": {
        "extensions": [
          ".js",
          ".jsx"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "concat-js",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": true
          }
        ],
        "output": {
          "extension": ".js",
          "type": "SOURCE_RELATIVE",
          "relativePath": "../js",
          "suffix": ".min",
          "alwaysSuffix": false
        }
      },
      "stylus": {
        "extensions": [
          ".styl"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "stylus",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": true
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "stylus",
              "replaceWith": "css"
            },
            {
              "segment": "styl",
              "replaceWith": "css"
            }
          ]
        }
      },
      "markdown": {
        "extensions": [
          ".md",
          ".markdown",
          ".mkd"
        ],
        "autoCompile": false,
        "tasks": [
          {
            "task": "markdown",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "markdown",
              "replaceWith": "html"
            }
          ]
        }
      },
      "haml": {
        "extensions": [
          ".haml"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "haml",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "haml",
              "replaceWith": "html"
            }
          ]
        }
      },
      "slim": {
        "extensions": [
          ".slim"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "slim",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "slim",
              "replaceWith": "html"
            }
          ]
        }
      },
      "coffeescript": {
        "extensions": [
          ".coffee"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "coffeescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "coffee-script",
              "replaceWith": "js"
            },
            {
              "segment": "coffeescript",
              "replaceWith": "js"
            },
            {
              "segment": "coffee",
              "replaceWith": "js"
            }
          ]
        }
      },
      "turf": {
        "extensions": [
          ".turf",
          ".kit"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "turf",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "turf",
              "replaceWith": "html"
            }
          ]
        }
      },
      "typescript": {
        "extensions": [
          ".ts",
          ".tsx"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "typescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "typescript",
              "replaceWith": "js"
            },
            {
              "segment": "ts",
              "replaceWith": "js"
            }
          ]
        }
      },
      "jpg": {
        "extensions": [
          ".jpg",
          ".jpeg"
        ],
        "tasks": [
          {
            "task": "jpg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".jpg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "png": {
        "extensions": [
          ".png"
        ],
        "tasks": [
          {
            "task": "png",
            "enable": true
          }
        ],
        "output": {
          "extension": ".png",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "svg": {
        "extensions": [
          ".svg"
        ],
        "tasks": [
          {
            "task": "svg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".svg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      }
    },
    "files": [
      {
        "file": "_app/_js/scripts.js",
        "config": {
          "tasks": {
            "minify-js": {
              "enable": false
            }
          },
          "autoCompile": true,
          "customOutput": "js\\scripts.js"
        }
      },
      {
        "file": "_app/index.pug",
        "config": {
          "customOutput": "index.html"
        }
      },
      {
        "file": "_app/styl/styles.min.styl",
        "config": {
          "customOutput": "css\\styles.min.css"
        }
      }
    ]
  }
}
