@import 'base/1-fonts'

@import '../_css/bootstrap.min.css'

@import 'base/2-base-0'
@import 'base/2-base-1'

@import 'base/3-header'
@import 'main/1-main'
@import 'main/2-hype'
@import 'main/3-about'
@import 'main/4-project'
@import 'main/5-buttons'
@import 'main/6-numbers'
@import 'main/7-request'
@import 'main/8-team'
@import 'base/4-footer'