@import 'base/1-fonts'

@import '../_css/bootstrap.min.css'

@import 'base/2-base-0'
@import 'base/2-base-1'

@import 'base/3-header'
@import 'main/1-main'
@import 'main/2-about'
@import 'main/3-strategy'
@import 'main/4-we'
@import 'base/4-footer'