#main
	padding 0 0 90px
	background-color: #DBEAED
	background-image: url(../img/backs/main.png)
	background-repeat: no-repeat
	background-position: bottom center
	background-size: cover
	@media screen and (max-width 767px)
		background-position: bottom left
		text-align center
	@media screen and (max-width 560px)
		padding 0 0 60px
	@media screen and (max-width 385px)
		padding 0 0 40px
.main
	&-title
		font-size: 40px
		font-weight: 900
		@media screen and (max-width 991px)
			font-size: 36px
			br
				display none
		@media screen and (max-width 560px)
			font-size: 32px
		@media screen and (max-width 385px)
			font-size: 28px
			line-height 1.2
	&-subtitle
		font-size: 35px
		font-weight: bold
		text-transform uppercase
		margin 60px 0 40px
		@media screen and (max-width 991px)
			font-size: 32px
			margin 30px 0
		@media screen and (max-width 560px)
			font-size: 26px
			margin 20px 0
		@media screen and (max-width 385px)
			font-size: 22px
	&-info-item
		border-radius: 40px;
		box-shadow: 0px 0px 47.79px 11.21px rgba(0, 0, 0, 0.06);
		width 100%
		max-width: 436px;
		padding 55px 45px
		background-color rgba(#fff, .8)
		position relative
		&-text
			font-weight: normal
			&:last-child
				margin-top: 25px
				@media screen and (max-width 385px)
					margin-top: 10px
		&-img
			position absolute
			&-1
				left -50px
				bottom -120px
				z-index 20
			&-3
				right -50px
				bottom -70px
		@media screen and (max-width 991px)
			padding 30px
			margin-top: 30px
			&-img-1
				left -70px
				z-index 0
		@media screen and (max-width 767px)
			margin 0 auto 30px
		@media screen and (max-width 560px)
			padding 20px
			border-radius: 20px
.button-main
	margin-top: 25px
	@media screen and (max-width 385px)
		margin-top: 10px
.button-wrapper-main
	margin-left: 0
	@media screen and (max-width 767px)
		margin-left: auto