#main
	padding 0 0 40px
	background-color: #62C8D5
	background-image: url(../img/backs/main.png)
	background-repeat no-repeat
	background-position: center
	background-size: cover
	position relative
.clouds-main
	position absolute
	width 100%
	left 0
	right 0
	bottom: -360px
.main
	&-title
		font-size: 50px
		font-weight: 900
		color #fff
		line-height: 65px
	&-subtitle
		margin 50px 0 45px
		position relative
		display inline-block
		span
			font-size: 25px
			font-weight: bold
			display inline-block
			background-color: #41990E
			padding 20px 40px 20px 20px
			text-transform uppercase
			color #fff
			border-radius: 8px
		img
			position absolute
			right -100px
			top -25px
	&-text
		font-size: 20px
		font-weight: bold
		margin-bottom: 40px
	&-lasttitle
		position relative
		display inline-block
		margin-top: 30px
		span
			display inline-block
			padding 20px 35px
			background-image: url(../img/images/title-2.png)
			background-repeat no-repeat
			background-position: center
			background-size: 100% 100%
			color: #fff
			font-size: 16px
			font-weight: bold
			text-transform uppercase
			position relative
			z-index 10
		img
			position absolute
			right -180px
			top -10px