#hype
	padding 90px 0
	background-color: #D4E5E5
	background-image: url(../img/backs/hype.png)
	background-repeat no-repeat
	background-position: center
	background-size: cover
	overflow hidden
	text-align center
	.container
		position relative
.hype-img
	position absolute
	right -135px
	bottom: -220px
.hype
	&-title
		font-size: 40px
		font-weight: 900
		text-align center
		margin-bottom: 40px
	&-item
		border-radius: 8px;
		box-shadow: 0px 1px 53.1px 5.9px rgba(0, 0, 0, 0.23);
		width 100%
		max-width: 383px;
		padding 25px
		background-color #fff
		position relative
		margin 0 auto 30px
		&-title
			position absolute
			top 5px
			left 20px
			font-size: 40px
			font-weight: 100
			opacity .6
		&-img
			display block
			margin 0 auto 25px
		&-text
			height 190px
			display flex
			align-items: center;
			justify-content: center;
	&-lasttitle
		display inline-block
		padding 20px 50px
		color #fff
		text-transform uppercase
		margin-top: 10px
		font-size: 25px
		font-weight: 900
		background-image: url(../img/images/title.png)
		background-repeat no-repeat
		background-position: center
		background-size: 100% 100%
		position relative
		z-index 10