#project
	padding 90px 0
	margin-top: 90px
	background-color: #D6DEE0
	background-image: url(../img/backs/project.png)
	background-repeat no-repeat
	background-position: center
	background-size: cover
.flowers
	position absolute
	right -70px
	top 100px
.project-img
	position relative
	padding-top: 100%
	img
		position absolute
		top 120px
		left -50px