#our-projects
	padding 80px 0
	background-color: #238A5E
	background-image url(../img/backs/our-projects.png)
	background-repeat no-repeat
	background-position: center
	background-size: cover
	position relative
	&:before
	&:after
		content: ''
		display block
		position absolute
		width 100%
		top 10px
		left 0
		right 0
		opacity .26
		height 2px
		border-top: 2px dashed #fff
	&:after
		top auto
		bottom: 10px
.our-projects-title
	font-size: 45px
	font-weight: 900
	color #fff
	margin-bottom: 45px
	line-height: 53px
.button-our-projects
	width 100%
	max-width 320px
.our-projects-img
	display block
	width 100%
	max-width 413px
	margin 30px auto 0
.clouds
	position absolute
	width 100%
	left 0
	right 0
	bottom: -400px