.button
	box-shadow: inset 0px 1px 0px 0px rgba(247, 243, 170, 0.4)
	display inline-block
	padding 18px 20px
	width 100%
	color #fff
	text-transform uppercase
	font-family: M
	font-weight: 300
	font-size: 12px
	text-align center
	background-color #00a4de
	border-radius: 28px
	transition: all .3s ease
	position relative
	&:focus
		text-decoration none
		color #fff
		background-color: #00a4de
	&:hover
		text-decoration none
		color #fff
		background-color: #00a4de - 25%
	&-wrapper
		width 220px
		margin 0 auto
		position relative
		&:before
			content: ''
			display block
			position absolute
			width 210px
			height 50px
			background-color: #0681bd
			border-radius: 28px
			margin 0 auto
			left 0
			right 0
			bottom: -4px
			box-shadow: 0px 3px 4.25px 0.75px rgba(3, 155, 229, 0.4),inset 0px 1px 0px 0px rgba(247, 243, 170, 0.4);
			transition: all .3s ease
		&:hover
			&:before
				bottom: 0
				box-shadow: 0px 1px 2.25px 0.75px rgba(3, 155, 229, 0.4),inset 0px 1px 0px 0px rgba(247, 243, 170, 0.4);
			.button
				transform: translateY(4px)
		&-last
			&:before
				background-color: #d49c05
				box-shadow: 0px 3px 4.25px 0.75px rgba(196, 145, 7, 0.4),inset 0px 1px 0px 0px rgba(247, 243, 170, 0.4);
			&:hover
				&:before
					box-shadow: 0px 1px 2.25px 0.75px rgba(196, 145, 7, 0.4),inset 0px 1px 0px 0px rgba(247, 243, 170, 0.4);
	img
		display inline-block
		margin-right: 5px
	&&-last
		background-color #ffba00
		background-image: linear-gradient(to bottom, #fcdc6b, #ffba00)
		color #000
		&:focus
			text-decoration none
			color #000
			background-color: #ffba00
			background-image: linear-gradient(to bottom, #fcdc6b, #ffba00)
		&:hover
			text-decoration none
			color #000
			background-color: #ffba00 - 25%
			background-image: linear-gradient(to top, #fcdc6b, #ffba00)
	@media screen and (max-width 991px)
		&-wrapper
			text-align center
	@media screen and (max-width 560px)
		padding 20px
	@media screen and (max-width 385px)
		line-height: 1.2
		min-width: 1px
		font-size: 16px
		padding 15px