section#about
	//- +imgs('clouds-1', 'img/images/clouds-1.png', 'Облака')
	.container
		.about-container
			+imgs('about-container-img about-container-img-1', 'img/images/about-1.png', 'Зонт')
			+imgs('about-container-img about-container-img-2', 'img/images/about-2.png', 'Птицы')
			+imgs('about-container-img about-container-img-3', 'img/images/about-3.png', 'Мяч')
			h3.about-container-title
				small Что сейчас происходит в Сочи?
				| Там настоящий «БУМ» 
				br
				| спроса на жильё!
			+imgs('about-container-divider', 'img/images/divider.png', 'Декор')
			.row
				.col-md-4
					p.about-container-text Цены уже выросли на 30% за полгода!
				.col-md-4
					p.about-container-text Темпы роста увеличиваются!
				.col-md-4
					p.about-container-text Цены за 1 кв.м. в некоторых районах уже достигли уровня Москвы и Питера!
			p.about-container-attantion-1 Около 500 тыс. руб. за 1 кв.м.
			p.about-container-attantion-2 И будет ещё дороже!