mixin hi(n, h4, p)
	.col-md-4
		.hype-item(class="hype-item-"+n)
			+imgs('hype-item-img', 'img/icons/hype-'+n+'.png', p)
			h4.hype-item-title='0'+h4
			p.hype-item-text=p

section#hype
	.container
		+imgs('hype-img', 'img/images/stars.png', 'Морские звезды')
		h3.hype-title Ажиотаж на рынке недвижимости Сочи – «на руку» инвесторам!
		.row
			+hi('1', '1', 'Один из трендов рынка Сочи – спрос на загородную недвижимость, из-за чего стоимость участков на популярных направлениях выросла в 3-5 раз')
			+hi('2', '2', 'Жильё в Сочи сильно подорожало осенью 2020 года, когда россияне стали выбирать город в качестве подходящего места для самоизоляции')
			+hi('3', '3', 'Средняя стоимость 1 кв. м. на вторичном рынке – 150 тыс. руб., в новостройках – около 200 тыс.')
		.row
			+hi('1', '4', 'В начале 2020 года обычную студию в Сочи можно было купить за 2-2,5 млн руб. Сейчас такие объекты стоят порядка 10 млн руб.')
			+hi('2', '5', 'К осени 2021 года ожидается 30%-ный рост цен на недвижимость Сочи')
			+hi('3', '6', 'С 1 июля 2021 года в Сочи планируют ввести ограничение на строительство многоквартирных домов. Будет разрешено ИЖС домов, площадью не более 300 кв. м. и высотой не более 12 м.')
		h5.hype-lasttitle Выиграйте вместе с нами на дефиците предложений  на рынке!