section#about
	.container
		p.about-pre Эксперты прогнозируют в 2021 году 
			br
			| рост цен на уровне 2530%
		h3.about-title Сочи – регион №1 по темпам 
			br
			| удорожания земли и жилья
		+imgs('about-img', 'img/images/about.png', 'Сочи')
		p.about-text За 5 лет численность населения города выросла 
			br
			| на 70 тыс. и достигла почти 450 тыс. человек
		h4.about-lasttitle На одном объекте можно заработать до 153% в год!