mixin sti(n, p)
	.strategy-item(class='strategy-item-'+n)
		+imgs('strategy-item-img', 'img/images/strategy-'+n+'.png', p)
		p.strategy-item-text!=p

section#strategy
	//- +imgs('clouds-2', 'img/images/clouds-2.png', 'Облака')
	.container
		+imgs('strategy-img', 'img/images/strategy.png', 'Дом')
		h3.strategy-title На этом можно отлично заработать!
			small Мы реализуем интересные и перспективные проекты в сфере доходной недвижимости Сочи
		h4.strategy-subtitle Наша инвестиционная стратегия
		.strategy-items
			+sti('1', 'Покупаем <br>земельные участки')
			+sti('2', 'Проводим межевание')
			+sti('3', 'Привлекаем средства инвесторов')
			+sti('4', 'Строим дома, площадью <br>150-200 кв.м.')
			+sti('5', 'Продаём как отдельные объекты')
			.clearfix
		.strategy-info
			+imgs('strategy-info-icon', 'img/icons/tg-strategy.png', 'Telegram')
			p.strategy-info-text.strategy-info-text-bold Один объект полностью 
				br
				| зафинансирован за 10 дней!
			p.strategy-info-text.strategy-info-text-bold Второй объект – УЖЕ БОЛЕЕ ЧЕМ НА 50%!
			.row
				.col-md-6
					p.strategy-info-text Подробности – в закрытом Telegram-боте!
				.col-md-6
					.button-wrapper
						a.button(href='https://t.me/MyCapital_Sochi_bot') подписаться
			p.strategy-info-attantion Успейте присоединиться как можно быстрее, 
				br
				| чтобы заработать больше!