section#project
	.container
		.row
			.col-md-4
				.project-img
					+imgs('', 'img/images/logo.png', 'Логотип')
			.col-md-8
				.general-wrapper
					+imgs('flowers', 'img/images/flowers.png', 'Цветы')
					h4.general-wrapper-title Стартовал НОВЫЙ ПРОЕКТ – ИЖС 6-ти домов в с. Бестужевское
					ul.general-wrapper-list
						li Общий бюджет проекта – 53 281 000 руб.
						li Сумма необходимых инвестиций – 38 млн руб.
						li Уже СОБРАНО почти 29 млн руб.!
					p.general-wrapper-text Село Бестужевское находится в 25км к юго-востоку от Центрального Сочи 
						br
						| и в 8км от Адлера. Мы купили там 3 смежных участка, общей площадью почти 27 соток.
					p.general-wrapper-text По стратегии, мы разделим их на 6 участков и зону отдыха (пруд, детская площадка, зона для барбекю), построим на них 6 домов и продадим в качестве отдельных объектов недвижимости по 15 млн руб.