section#our-projects
	+imgs('clouds', 'img/images/clouds.png', 'Облака')
	.container
		.content
			.row
				.col-md-7
					h3.our-projects-title Другие наши проекты 
						br
						| по доходной недвижимости
					.row
						.col-md-6
							+b('', 'button-our-projects', '', 'Апарт-отель LOFTET')
						.col-md-6
							+b('', 'button-our-projects', '', 'Апарт-отель «МЕТРО Apartments»')
				.col-md-5
					+imgs('our-projects-img', 'img/images/glasses-big.png', 'Очки')