section#our-projects
	.container
		.content
			.row
				.col-md-8
					h3.our-projects-title Другие наши проекты 
						br
						| по доходной недвижимости
					.row
						.col-md-6
							+b('', 'button-our-projects', '', 'Апарт-отель LOFTET')
						.col-md-6
							+b('', 'button-our-projects', '', 'Апарт-отель «МЕТРО Apartments»')
				.col-md-4
					+imgs('our-projects-img', 'img/images/glasses-big.png', 'Очки')
.clouds-projecs