section#our-projects
	.container
		.content
			.row
				.col-md-7
					h3.our-projects-title Другие наши проекты по доходной недвижимости
					.row
						.col-md-6
							+b('', '', '', 'Апарт-отель LOFTET')
						.col-md-6
							+b('', '', '', 'Апарт-отель «МЕТРО Apartments»')
				.col-md-5
					.our-projects-img
						+imgs('', 'img/images/glasses-big.png', 'Очки')