section#numbers
	.container
		.row
			.col-md-6.col-md-push-6
				.numbers-img
					+imgs('', 'img/images/numbers.png', 'Дом с логотипом')
			.col-md-6.col-md-pull-6
				.numbers-container
					+imgs('numbers-container-img', 'img/images/slippers.png', 'Шлёпки')
					.general-wrapper.general-wrapper-numbers-1
						h4.general-wrapper-title Математика проекта
						ul.general-wrapper-list
							li Стоимость участка – 15 131 000 руб. <br>(560 329 руб./сот.)
							li Себестоимость строительства 1 дома <br>– 6 000 000 руб.
							li Себестоимость 1 дома с участком – 8 880 167 руб.
							li Стоимость при продаже – 15 000 000 руб.
							li Ожидаемая доходность проекта – 51,40%
							li Годовая доходность – 77,10%
					.general-wrapper.general-wrapper-numbers-2
						h4.general-wrapper-title Условия для инвесторов
						ul.general-wrapper-list
							li Минимальная сумма вложений – 500 тыс. руб.
							li Доходность инвестора – 24% за год
							li Срок реализации проекта – 6-8 месяцев