section#invest
	.request
		.container
			h3.request-title Вложите средства в прибыльное 
				br
				| и перспективное направление!
			h4.request-subtitle Оформите заявку, и наш менеджер свяжется 
				br
				| с вами в ближайшее время!
			p.request-text Вы сможете задать ему любые вопросы и получить исчерпывающие ответы!
			p.request-text.request-text-bold Оставьте заявку, и мы свяжемся с вами!
			+b('', '', 'https://forms.amocrm.ru/zmzzwl', 'Оставить заявку')
	.we
		.container
			.row
				.col-md-4.col-md-push-8
					+imgs('we-img', 'img/images/laptop.png', 'Ноутбук')
				.col-md-8.col-md-pull-4
					.general-wrapper.general-wrapper-we
						h3.general-wrapper-title Сотрудничество с нами – это пассивный доход при полной “прозрачности” процессов
						p.general-wrapper-subtitle Клуб инвесторов «Mой капитал» – это команда профессионалов, умеющих приумножать вложения с помощью аналитики и здравого смысла
						ul.general-wrapper-list
							li Мы выбираем только эффективные направления для инвестиций
							li С нами работают лучшие эксперты по направлениям
							li У нас оптимальное соотношение доходности и рисков
							li Надёжность вложений за счёт диверсификации портфеля
							li Мы вкладываем в каждый проект собственные средства, поэтому напрямую заинтересованы в доходности
							li Доходность от 12 до 21% годовых, что в разы выше банковского депозита
							li Возможность стать инвестором даже с небольшим капиталом
						p.we-attantion Мы используем РАЦИОНАЛЬНО КАЖДЫЙ РУБЛЬ!