section#team
	.container
		h3.team-title Команда проекта
		.row
			.col-md-4
				.member.member-1
					.general-wrapper.general-wrapper-member
						+imgs('member-img', 'img/images/member-1.png', '')
						h4.member-title Юрий Медушенко
						ul.general-wrapper-list
							li Соучредитель клуба инвесторов «Мой капитал»
							li Инвестор с успешным опытом реализации проектов на сумму более 1,8 млрд. рублей
							li Серийный предприниматель
			.col-md-4
				.member.member-2
					.general-wrapper.general-wrapper-member
						+imgs('member-img', 'img/images/member-2.png', '')
						h4.member-title Борис Лебедев
						ul.general-wrapper-list
							li Руководитель проекта
							li Риэлтор и аналитик рынка недвижимости с 15-летним опытом
							li Разработчик концепции эффективного использования земель для девелоперов
			.col-md-4
				.member.member-3
					.general-wrapper.general-wrapper-member
						+imgs('member-img', 'img/images/member-3.png', '')
						h4.member-title S.GROUP
						ul.general-wrapper-list
							li Застройщик – Компания S.GROUP. Молодая и динамично развивающаяся строительная компания <br>на рынке недвижимости <br>в городе Сочи
							li Основной вид деятельности – ИЖС домов и комплексов клубного типа. Строят качественное жилье 
								br
								| по доступным ценам с 2014г.